<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://127.0.0.1:5432/esmaltaria</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">JOELSONSS</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">10</property>
		
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">validade</property>
		
		<!-- Mapeamento das entidades -->
		<mapping class="br.com.js_solucoes.salao.model.Tipodespesa"/>
		<mapping class="br.com.js_solucoes.salao.model.Fornecedor"/>
		<mapping class="br.com.js_solucoes.salao.model.Despesas"/>
		<mapping class="br.com.js_solucoes.salao.model.Pessoa"/>
		<mapping class="br.com.js_solucoes.salao.model.Cliente"/>
		<mapping class="br.com.js_solucoes.salao.model.Funcionario"/>
		<mapping class="br.com.js_solucoes.salao.model.Usuario"/>
		<mapping class="br.com.js_solucoes.salao.model.Produto"/>
		<mapping class="br.com.js_solucoes.salao.model.Comanda"/>
		<mapping class="br.com.js_solucoes.salao.model.ProdutosComanda"/>
		<mapping class="br.com.js_solucoes.salao.model.Caixa"/>
		
		
		
		
		
	</session-factory>

</hibernate-configuration>